<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>白相</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div th:replace="layout/manage_header::header"></div>

<div id="edit_film">
    <h1>上传图片</h1>

    <input type="file"
           multiple="multiple"
           accept="image/*"
           ref="uploadInput"
           name="uploadInput"
           v-on:change="posterSelected"
    />

    <el-input
            type="textarea"
            :rows="10"
            placeholder="请输入电影介绍"
            v-model="movieInfo">
    </el-input>

    <el-button @click="submit">提交</el-button>
</div>

</body>

<script>
    var file;
    new Vue({
        el: "#header",
    });

    new Vue({
        el: "#edit_film",
        data() {
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                movieInfo: ""
            };
        },
        methods: {
            posterSelected(event) {
                // console.info("event=" + uploadInput.files.length);
                file = this.$refs.uploadInput.files[0];
                console.info("file=" + file.name);
                // let objectURL = window.URL.createObjectURL(file);
                // console.info("event=" + objectURL);
                // window.URL.revokeObjectURL(objectURL);
            },
            submit(){
                console.log("onSubmit");
                let formData = new FormData();
                formData.append('poster', file);
                formData.append('movieInfo', this.movieInfo);

                let url = "/manage/edit_movie";
                fetch(url, {
                    method: "post",
                    // body: data,
                    body: formData,
                    headers: {
                        // 'Content-Type': 'multipart/form-data'
                        // 'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    credentials: 'include'     //很重要，设置session,cookie可用
                }).then(
                    (response) => {
                        return response.json();
                    }
                ).then(
                    (json) => {
                        console.log(JSON.stringify(json));
                    }
                ).catch(
                    (ex) => {
                        console.error('parsing failed', ex);
                    });
            }
        }
    })
</script>

</html>