<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>


<div id="films">
    <el-button @onclick="toEditFilm">添加影片</el-button>
</div>
</body>

<script>
    new Vue({
        el:"#films",
        methods:{
            toEditFilm :function () {
                window.location.pathname="/edit_film"
            }
        }
    })
</script>
</html>