<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>白相</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script type="text/javascript" th:src="@{/VueComponents.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
<div th:replace="layout/header::header"></div>

<div id="vertical-container">

    <breadcrumb :breadcrumb-list="breadcrumbList"/>

    <div style="display: flex;flex-direction: column;align-items: flex-start">


        <h1 th:text="${movie.movieName}" style="margin-top:0.5em;margin-bottom: 1em"></h1>

        <img v-bind:src="poster.url" style="width: 200px;margin-bottom: 1em"/>

        <div th:utext="${movie.movieInfo}" style="margin-bottom: 1em"></div>

        <div style="margin-bottom: 5px" th:hidden="${movie.screenShots.size()==0}">截图</div>
        <div th:each="screenShot :${movie.screenShots}" style="margin-bottom: 1em">
            <img th:src="${screenShot.url}" style="width: 200px"/>
        </div>

        <h2 style="margin-bottom: 5px" th:hidden="${movie.movieTorrents.size()==0}">种子下载</h2>
        <div th:each="torrent :${movie.movieTorrents}" style="margin-bottom: 5px">
            <a th:text="${torrent.torrentName}" th:href="${torrent.magnetUrl}"></a>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">
    let tagName;
    if ([[${movie!=null}]] && [[${movie.movieTagSet!=null}]]) {
        tagName = [[${movie.movieTagSet.size()>0?movie.movieTagSet[0]:""}]];
    }
    console.log("tagname=" + tagName);
    new Vue({
        el: "#vertical-container",
        data() {
            return {
                movieInfo: [[${movie!=null?movie.movieInfo:""}]],
                movieTitle: [[${movie!=null?movie.movieName:""}]],
                poster: {file: null, url: [[${movie!=null?movie.poster:""}]]},
                screenShotList: [],
                torrentList: [],
                breadcrumbList: [{url: "/", tagName: "首页"},
                    {url: "/movie_list?tag=" + tagName, tagName: tagName}]
            };
        },
        methods: {
            downLoad(){

            }
        }
    })
</script>

<script type="text/javascript" th:src="@{/header.bundle.js}"></script>
</html>