<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>白相</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script type="text/javascript" th:src="@{/button.bundle.js}"></script>
</head>
<body>
<div th:replace="layout/header::header"></div>

<div id="container" style="padding-left: 16px;padding-right: 16px;padding-bottom: 16px">
    <el-button> 333232</el-button>

    <div style="display: flex;flex-wrap: wrap;margin-top: 10px;margin-bottom: 10px">
        <div th:each="movie :${movieList}"
             style="margin-bottom: 10px;margin-left: 10px;margin-right: 10px">
            <el-card :body-style="{ padding: '0px' }" style="width: 200px">
                <a th:href="${'/movie_detail?movieId='+movie.id}">
                    <img th:src="${movie.poster}" style="height: 150px"/>
                </a>
                <div th:text="${movie.movieName}"></div>
            </el-card>
        </div>
    </div>
    <div style="display: flex;flex-direction: row">
        <div v-for="pageItem in pageList" style="margin-left: 1em">
            <a :href="originHref+'&page='+pageItem.itemValue">{{pageItem.itemValue}}</a>
        </div>
    </div>


    <el-button @click="toManage">去管理页</el-button>
</div>
</div>

</body>


<script th:inline="javascript">
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    let currentPage = Number(getQueryString("page"));
    let currentTag = getQueryString("tag");
    let maxPage = [[${maxPage}]];
    console.log("href=" + window.location.href);
    console.log("page=" + currentPage + " maxPage=" + maxPage);
    console.log("tag=" + currentTag);
    let pageList = [];
    if (maxPage > 5) {
        if (currentPage === 1) {
            pageList = [
                {itemValue: 1, checked: true},
                {itemValue: 2, checked: false},
                {itemValue: 3, checked: false},
                {itemValue: 4, checked: false},
                {itemValue: 5, checked: false}]
        } else if (currentPage === 2) {
            pageList = [
                {itemValue: 1, checked: false},
                {itemValue: 2, checked: true},
                {itemValue: 3, checked: false},
                {itemValue: 4, checked: false},
                {itemValue: 5, checked: false}]
        } else if (maxPage === currentPage) {
            pageList = [
                {itemValue: currentPage - 4, checked: false},
                {itemValue: currentPage - 3, checked: false},
                {itemValue: currentPage - 2, checked: false},
                {itemValue: currentPage - 1, checked: false},
                {itemValue: currentPage, checked: true}]
        } else if ((maxPage - currentPage) === 1) {
            pageList = [
                {itemValue: currentPage - 3, checked: false},
                {itemValue: currentPage - 2, checked: false},
                {itemValue: currentPage - 1, checked: false},
                {itemValue: currentPage, checked: true},
                {itemValue: currentPage + 1, checked: false}]
        } else {
            pageList = [
                {itemValue: currentPage - 2, checked: false},
                {itemValue: currentPage - 1, checked: false},
                {itemValue: currentPage, checked: true},
                {itemValue: currentPage + 1, checked: false},
                {itemValue: currentPage + 2, checked: false}]
        }
    } else {
        for (let i = 1; i < maxPage + 1; i++) {
            pageList.push({itemValue: i, checked: i === currentPage});
        }
    }


    new Vue({
        el: '#container',
        data: {
            originHref: window.location.pathname + "?tag=" + currentTag,
            currentPage: currentPage,
            pageList: pageList
        },
        methods: {
            toManage: function () {
                console.log("onclick");
                window.location.pathname = "/manage"
            }
        }
    })
</script>
<script type="text/javascript" th:src="@{/manage_header.bundle.js}"></script>
<link rel="stylesheet" th:href="@{/css/manage_header.css}">
</html>