<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>白相</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script type="text/javascript" th:src="@{/vendor-1.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/VueComponents-1.bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>
<div th:replace="layout/header::header"></div>

<div id="container">
    <div id="list" style="padding-bottom: 16px;flex: 3">
        <breadcrumb :breadcrumb-list="breadcrumbList"/>
        <div style="display: flex;flex-wrap: wrap;margin-top: 10px;margin-bottom: 10px">
            <div th:each="movie :${movieList}"
                 style="margin-bottom: 10px;margin-right: 10px">
                <a th:href="@{${'/movie_detail?movieId='+movie.id}}">
                    <card style="width: 200px">
                        <img th:src="@{${movie.posterUrl}}" style="width: 100%;height: 100%"/>
                        <div th:text="${movie.movieName}" style="padding: 5px"></div>
                    </card>
                </a>
            </div>
        </div>

        <pagination :max-page="maxPage"/>
    </div>

    <div th:replace="layout/side_bar::side_bar" style="width: 200px"></div>
</div>
</body>


<script th:inline="javascript">
    function getQueryString(paramName) {
        let reg = new RegExp("(^|&)" + paramName + "=([^&]*)(&|$)", "i");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]);
        return null;
    }

    let itemType = "tag";
    let itemName = getQueryString(itemType);
    if (itemName === null) {
        itemType = "actor";
        itemName = getQueryString(itemType);
    }
    console.info("itemName=" + itemName);
    new Vue({
        el: '#list',
        data: {
            maxPage: [[${maxPage}]],
            breadcrumbList: [{url: "/", itemName: "首页"},
                {url: "/movie_list?" + itemType + "=" + itemName, itemName: itemName}]
        },
        methods: {}
    })
</script>

<script type="text/javascript" th:src="@{/header-1.bundle.js}"></script>
<script type="text/javascript" th:src="@{/side_bar-1.bundle.js}"></script>
</html>