<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
<div th:fragment="header" id="header">

    <el-card :body-style="{ padding: '0px' }">
        <div class="topBar"
             style=" height: 48px;align-items: center;color: white;padding:5px 30px;display: flex;flex-direction: row;background-color:  #E91E63;flex: 1">
            <div style="display:flex;flex:1;flex-direction: row;">
                <div class="topItem" style=";font-size: large;margin-right: 10px" @click="reLocation('/')">
                    首页
                </div>
                <div class="topItem" style=";font-size: large;margin-right: 10px" @click="reLocation('/movie_list?tag=new')">
                    最新
                </div>
                <div class="topItem" style=";font-size: large;margin-right: 10px"
                     @click="reLocation('/movie_list?tag=animation')">
                    动画
                </div>
                <div class="topItem" style=";font-size: large;margin-right: 10px"
                     @click="reLocation('/movie_list?tag=action')">
                    动作
                </div>
                <div class="topItem" style=";font-size: large;margin-right: 10px" @click="reLocation('/movie_list?tag=science')">
                    科幻
                </div>
                <div class="topItem" style=";font-size: large;margin-right: 10px"
                     @click="reLocation('/movie_list?tag=american')">
                    美剧
                </div>
                <div class="topItem" style=";font-size: large;margin-right: 10px"
                     @click="reLocation('/movie_list?tag=japanese')">
                    日剧
                </div>
            </div>

            <div style="">
                <el-dropdown @command="reLocation" th:if="${user==null}">
                <span class="el-dropdown-link topItem" style="flex: 1;font-size: large;color: #FFFFFF">
                    用户<i class="el-icon-caret-bottom el-icon--right"></i>
                 </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="/manage/sign_in">登录</el-dropdown-item>
                        <el-dropdown-item command="/manage/sign_up">注册</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>

                <el-dropdown @command="reLocation" th:if="${user!=null}">
                <span class="el-dropdown-link topItem" style="flex: 1;font-size: large;color: #FFFFFF">
                    用户<i class="el-icon-caret-bottom el-icon--right"></i>
                 </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="/manage/sign_in">主页</el-dropdown-item>
                        <el-dropdown-item command="/manage/sign_up">设置</el-dropdown-item>
                        <el-dropdown-item command="/manage/sign_out">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>


            </div>
        </div>
    </el-card>

</div>
</body>
</html>