<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
<style>
    .topBar {

    }

    .topItem {

    }

</style>


<div th:fragment="header" id="header">
    <el-card
            style="background-color: #E91E63;  height: 48px; display: flex;flex-direction: row;align-items: center">
        <div class="topBar"
             style="color: white;padding: 5px;width: 800px;flex: 1;display: flex;flex-direction: row;">
            <el-button class="topItem" type="text" style="flex: 1;font-size: large;">
                电影
            </el-button>
            <el-button class="topItem" type="text" style="flex: 1;font-size: large;">
                用户
            </el-button>
            <el-button class="topItem" type="text" style="flex: 1;font-size: large;">
                登录
            </el-button>
        </div>
    </el-card>


</div>
</body>
</html>