<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="side_bar" id="side_bar">
    <el-autocomplete
            v-model="inputStr"
            :fetch-suggestions="searchMovie"
            placeholder="请输入影片名字"
            icon="search"
            custom-item="my-item-zh"
            :trigger-on-focus="false"
            @select="handleSelect"
    ></el-autocomplete>


    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="最热" name="first">
            <div th:each="movie : ${hotList} ">
                <div th:text="${movie.movieName}"/>
            </div>
        </el-tab-pane>
        <el-tab-pane label="最新" name="second">最新</el-tab-pane>
    </el-tabs>

</div>
</body>
</html>