.image-icon {
    font-size: 20px;
    color: #ffffff
}

.image-icon:hover {
    font-size: 20px;
    color: #757575;
}

.image-icon:active {
    color: #757575;
}

.delete-icon {
    font-size: 20px;
    color: #E91E63
}

.delete-icon:hover {
    font-size: 20px;
    color: #C2185B;
}

.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: orange;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dark-primary-color {
    background: #C2185B;
}

.default-primary-color {
    background: #E91E63;
}

.light-primary-color {
    background: #F8BBD0;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #03A9F4;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}


