@import url("palette.css");

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 10px
}

#vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 10px
}

a {
    text-decoration: none;
    color: #03A9F4;
}

a:visited {
    color: #757575;
}

.topBar {
    height: 48px;
    align-items: center;
    color: white;
    padding: 5px 16px;
    display: flex;
    flex-direction: row;
    flex: 1
}

.topItem {
    color: #ffffff;
    cursor: pointer;
}

.topItem:visited {
    color: #ffffff;
    cursor: pointer;
}

.topItem:hover {
    color: #BDBDBD;
    cursor: pointer;
}

#side_bar {
    width: 300px;
}