#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 10px
}

#vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 10px
}

.topBar {
    height: 48px;
    align-items: center;
    color: white;
    padding: 5px 200px;
    display: flex;
    flex-direction: row;
    background-color: #E91E63;
    flex: 1
}

.topBar {

}

.topItem:hover {
    color: #BDBDBD;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #212121;
}

a:visited {
    color: #757575;
}