#container {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*padding: 0 200px;*/
    /*margin-top: 10px*/
}

#vertical-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*padding: 0 200px;*/
    /*margin-top: 10px*/
}

a {
    text-decoration: none;
    color: #03A9F4;
}

a:visited {
    color: #757575;
}

.header {
    height: 100%;
    width: 100%;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #607D8B;
}

.topBar {

}

.topItem {
    color: #ffffff;
    cursor: pointer;
}

.topItem:visited {
    color: #ffffff;
    cursor: pointer;
}

.topItem:hover {
    color: #BDBDBD;
    cursor: pointer;
}

#side_bar {
    /*width: 300px;*/
}