<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>白相</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div th:replace="layout/header::header"></div>

<h1>home page</h1>

<div id="app">
    <p v-if="show">
        {{ message }}
    </p>
    <el-button v-on:click="toggleShow">button</el-button>

</div>

<div id="app2">
    <el-button @click="visible = true">按钮</el-button>
    <el-dialog v-model="visible" title="Hello world">
        <p>欢迎使用 Element</p>
    </el-dialog>
</div>

</body>


<script>
    new Vue({
        el: '#app2',
        data: function() {
            return { visible: false }
        }
    })
</script>

<script type="text/javascript" th:src="@{/index.bundle.js}"></script>

</html>